body {
  background-image: url("https://i.pinimg.com/originals/2b/5f/83/2b5f839f0a591a1b555eae4d3c48713d.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.wrapper {
  /* height: 30vh; */
  margin-top: 10px;
}

.log-container {
  height: 40vh;
  overflow-y: scroll;
  border: 1px solid black;
  margin-top: 10px;
  background-color: rgba(200, 200, 200, .8);
  margin-left: 20px;
  margin-right: 20px;
}

.action {
  /* width: 100%; */
  height: 80px;
  overflow: hidden;
  margin: 4px;
  padding: 4px;
  opacity: .3;
  border: 4px solid black;
  border-style: outset;
  margin-left: auto;
  margin-right: auto;
}

.timer {
  /* height: 60px; */
  background-color: rgba(200, 200, 200, .8);

  border: 1px solid black;
  text-align: center;
}

.action:hover {
  border-color: rgba(0, 0, 0, 0);
}

.pdc {
  max-height: 40%;
}

.pi {
  margin-top: 20px;
  margin-bottom: 30px;
}

.enemy {
  /* border: 2px solid black; */
}

.health-box {
  text-align: center;
  border: 1px solid black;
}

.footer {
  margin-top: -20px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.selected {
  opacity: 1;
}

.submit {
}

.life {
  margin: 4px;
  padding: 4px;
}

.red {
  background-color: #C22222;
}

.blue {
  background-color: #0000cc;
}

.green {
  background-color: #2E8B57;
}

.orange {
  background-color: 	#FF8C00;
}

.gray {
  color: gray;
}

.sender {
  color: gray;
  font-style: italic;
}

.message {
  color: black;
  font-style: normal;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  /* background-color: rgb(200, 200, 200); */
  width: 100%;
  padding: 0 10%;
  /* border-top: -30px; */
}

.copyright {
  position: relative;
  float: right;
  color: lightgray;
  font-size: 0.8em;
  margin-top: 5px;
}




/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
