.wrapper {
  height: 100vh;
}

.action {
  /* width: 100%; */
  height: 60px;
  overflow: hidden;
  margin: 4px;
  padding: 4px;
  opacity: .4;
  border: 4px solid black;
  border-style: outset;
  margin-left: auto;
  margin-right: auto;
}

.action:hover {
  border-color: rgba(0, 0, 0, 0);
}

.pdc {
  max-height: 40%;
}

.pi {
  margin-top: 20px;
}

.enemy {
  border: 2px solid black;
}

.health-box {
  text-align: center;
}

.selected {
  opacity: 1;
}

.life {
  margin: 4px;
  padding: 4px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}
